name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run ${{ matrix.mode }} benchmarks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: [simulation] # , memory]
    steps:
      - uses: actions/checkout@v6

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo codspeed build -m ${{ matrix.mode }} -p num-prime-bench

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: ${{ matrix.mode }}
          run: cargo codspeed run -p num-prime-bench
